$accentColor = #2C4251 //默认主题颜色
$textColor = #05668D //默认字体颜色
//$borderColor = #00c4c4 //默认边框颜色
$borderColor = #ffffff //默认边框颜色
$codeBgColor = #2C4251//默认代码背景颜色
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$nprogressColor = red

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
  opacity :1
}

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 15rem
$contentWidth = 800px
$homePageWidth = 960px


// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

